.language-item {
  padding: 16px;
  background-color: white;
  display: grid;
  align-items: center;
  width: 100%;
  gap: 16px;

  .language-name {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      aspect-ratio: 1 / 1;
      object-fit: contain;
      height: 40px;
    }
  }

  a {
    cursor: pointer;
  }
}

@media (width <= 600px) {
  .language-item {
    box-shadow: 1px 1px 5px -2px var(--grey-600);
    border-radius: 5px;

    .language-name {
      border-bottom: 1px solid var(--grey-100);
      padding-bottom: 8px;
    }

    span:not(:first-child) {
      &:before {
        content: attr(label) ': ';
      }
      font-size: 0.8em;
    }
  }
}

@media (min-width: 600px) {
  .language-item {
    grid-template:
      1fr / minmax(120px, 140px) minmax(100px, 1fr)
      repeat(2, minmax(50px, 1fr))
      minmax(80px, 1fr);
  }
}
