.layout {
  background-color: rgb(209, 209, 209);
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  grid-template:
    /* 'header' 50px */
    'navbar' auto
    'main' 100%;
}

@media (width <= 600px) {
  .layout {
    .navbar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -80%;
      width: 80%;
      transition: transform 0.3s ease-in-out;
    }

    .menu {
      position: fixed;
      top: 16px;
      left: 16px;
      border: none;
      z-index: 100;
      padding: 4px;
      background: transparent;
      color: var(--grey-600);
      height: 40px;
      width: 40px;
      font-size: 60px;
      line-height: 0;
    }

    &.menu__is-open {
      .navbar {
        transform: translate3d(100%, 0, 0);
      }
      .menu {
        color: white;
      }
    }
  }
}

@media (min-width: 600px) {
  .layout {
    grid-template:
      'navbar main' auto /
      250px auto;
  }
}

.navbar {
  grid-area: navbar;
}

/* .header {
  grid-area: header;
} */

.main {
  grid-area: main;
}
